$bleu     : #2980b9;
$midnight : #2c3e50;
$gris     : #7f8c8d;

ul li {
  list-style-type: none;
}

.panel {
  -moz-box-shadow: 2px 2px 5px 0 #484848;
  -webkit-box-shadow: 2px 2px 5px 0 #484848;
  -o-box-shadow: 2px 2px 5px 0 #484848;
  box-shadow: 2px 2px 5px 0 #484848;
  border-color: $midnight;

  .panel-heading {
    background-color: $midnight;
    color: #FFF;
  }
}

#myCanvas {
  cursor: crosshair !important;
  border: 1px solid #484848;
  margin-top: 30px;
}

#myCanvas2 {
  cursor: not-allowed !important;
  border: 1px solid #484848;
  margin-top: 30px;
}

#btn-retour-guess {
  position: fixed;
  right: 10px;
  top: 10px;
}

#my-tools {
  cursor: move;
  position: fixed;
  top: 10px;
  right: 10px;
}
